body{
  text-align: center;
}

ul{
  list-style-type: none;
  text-align:center;
}

li{
  display:inline-block;
}

.container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.thumbnails{
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 2px solid white;
}

.datePreview{
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 2px solid white;
}

.thumbnails:hover {
  cursor: pointer;
  border: 4px solid gray;
}

.activityPic {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.date-page{
  margin-top: 25px;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 20px;
  border: 4px solid black;
  padding: 10px;

}

.back-button{
  height: 45px;
  width: 200px;
  border-radius: 8px;
  margin-bottom: 15px;
}
